# flyctl launch added from .gitignore
# Node
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# TypeScript
**/dist
**/*.tsbuildinfo

# Environment
# **/.env
**/.env.local

# OS
**/.DS_Store
**/Thumbs.db

# Logs
**/logs
**/*.log

# IDE
**/.vscode
**/.idea
fly.toml
